<div class="card mx-2 my-2">
  <img
    [src]="book.coverImage"
    alt="Become Steve Jobs"
    class="card-img-top fit-image"
  />
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ book.title }}</h5>
    <div class="d-flex justify-content-between align-items-center">
      <p class="card-text text-secondary">{{ author }}</p>
      <p class="card-text text-primary">
        {{ book.price | currency }}
      </p>
    </div>
    <a
      [routerLink]="['/books', book.id]"
      class="btn btn-outline-primary btn-sm w-50"
      >Details</a
    >
  </div>
</div>
