<div class="container mb-3">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-4 text-primary font-weight-bold" routerLink="/">BookFlash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active mr-1">
          <a class="nav-link text-secondary" routerLink="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-secondary" routerLink="/books">Browse</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <span class="text-secondary font-weight-bold mr-2">{{
          total | currency
        }}</span>
        <span class="text-secondary font-weight-bold mr-2">
          ({{ (cart | async).addedBooks.length }})
        </span>
        <a routerLink="/cart" class="btn btn-primary btn-sm my-2 my-sm-0">
          Checkout
        </a>
      </form>
    </div>
  </nav>
</div>
