@import "~bootstrap/scss/bootstrap";

* {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.fit-image {
  max-width: 20vw;
  object-fit: cover;
  height: 30vh;
}

.fit-image-details {
  max-width: 25vw;
  object-fit: cover;
  height: 50vh;
}
